<section id="about" class="about-section section-padding">
	<div class="container">
		<h2 class="section-title wow fadeInUp">About <span class="color">Me</span></h2>

		<div class="row">

			<div class="col-md-4 col-md-push-8">
				<div class="biography">
					<div class="myphoto">
						<img src="images/myphoto.jpg" alt="No picture of me here! Something went wrong.">
					</div>
					<ul>
						<li><strong>Name:</strong> Tommaso Previero</li>
						<li><strong>Date of birth:</strong> 04 August 1989</li>
						<li><strong>Address:</strong> Probably somewhere near you if you're here. So <a click-scroll href="#contact" analytics-on="click" analytics-event="contact" analytics-category="navigation">check out the map</a>!</li>
						<li><strong>Nationality:</strong> Italian</li>
						<li><strong>Phone (IT):</strong> (0039) 347 111 42 06</li>
						<li><strong>Phone (AU):</strong> Coming soon</li>
						<li><strong>Email:</strong> <a href="mailto:t.previero@gmail.com" analytics-on="click" analytics-event="mailto" analytics-category="contact">t.previero<i class="fa fa-at"></i>gmail.com</a></li>
						<li><strong>Favourite film quote:</strong> This is the Construct. It's our loading program. (<i>Morpheus, The Matrix</i>)</li>
						<li><strong>Favourite life quote:</strong> The truth is somewhere in-between.</li>
					</ul>
				</div>
			</div>
			<!-- col-md-4 -->

			<div class="col-md-8 col-md-pull-4">
				<div class="short-info wow fadeInUp">
					<h3>Things that nobody cares about</h3>
					<p>
						Hello there!
						<br>I'm Tommaso Previero, born in 1989 in Verona, Italy.
						
						<br>Since I was a child I was always in search of something to discover, analyze, unmount and rebuild.
						Being such a curious led me to a world in which, just with my mind, i can craft anything i can think about.
						<br>That is the power of the informatics in my opinion: if you can imagine it, you can build it!
						
						<br>Having a strong background in banking and insurance environment grant me a good understanding of what is necessary to build, test and maintain big, critical and reliable software infrastructures.
						Also studying and working at the same time and in the same field was hard to achieve, but gave me a big advantage over my colleagues in term of knowledge, flexibility, focus and organization.<br>
						Working in such circumstances made me able to follow, understand and improve complex and complicated workflows and processes.
						Thanks to the pressure that working in these environment brings, now I'm capable to stay calm and responsive while managing difficult situations that can (but shouldn't, and that's a long chat here) arise at any point in our jobs.</small>
						<!--<small>(because &ldquo;with great power there must also come great responsabilities&rdquo;)-->
						<br>
						<br>I love what I do, and give all myself for the purpose.
						<br>I love the way our job is so strictly delimited from rules and at the same time free from any restriction.
						<br>I love to build, discover and understand things.
						<br>
						<br>I came to Australia hoping to find a place where to put all the passion and love that drive me day by day.
					</p>
				</div>

				<div class="short-info wow fadeInUp">
					<h3>What do <span class="color">I</span> care about?</h3>
					<o>
						There are many things to keep in mind while building a software system from scratch and on each of these a plethora of books has been written.
						However I believe that these things can be ordered by priority (which obviously change in every project).
						Even though, some will stay always to the top of that ordered list and one over all the others is <i style="text-decoration: underline;">simplicity</i>.
						
						<br>Simplicity in the code, in the design, in the processes.
						<br>The beauty of the simplicity and the clean that came from it is something absolutely necessary.
						I strongly believe that there is no rule that cannot be broken or bend in honor of the Beauty.
						<br>
						<br>Here's a list of what I particularly care about and spend effort to achieve or discover:
					</o>

					<ul class="list-check">
						<li>Clean Code</li>
						<li>Antipatterns</li>
						<li>Software Security</li>
						<li>New Technologies</li>
						<li>New Challenges</li>
						<li>Be a better human being :)</li>
					</ul>
				</div>

				<div class="download-button">
					<a click-scroll analytics-on="click" analytics-event="about" analytics-category="getInTouch" class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>Send me a message</a>
					<a class="btn btn-primary btn-lg" href="https://docs.google.com/uc?authuser=1&id=0B-pCnEtZrcY3SzIwRGRuN2djdjQ&export=download" analytics-on="click" analytics-event="download" analytics-category="about"><i class="fa fa-download"></i>download my cv</a>
				</div>
			</div>


		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>