<section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
	<div class="tt-overlay-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="count-wrap" inview-count-wrap>
						<div class="col-sm-3 col-xs-6">
							<i class="fa fa-flask"></i>
							<h3 class="timer">10</h3>
							<p>Years of Experience</p>
						</div>
						<div class="col-sm-3 col-xs-6">
							<i class="fa fa-shield"></i>
							<h3>&gt;<span class="timer">7000</span></h3>
							<p>Tests Written</p>
						</div>
						<div class="col-sm-3 col-xs-6">
							<i class="fa fa-beer"></i>
							<h3>&gt;<span class="timer">200</span></h3>
							<p>Friendships Made</p>
						</div>
						<div class="col-sm-3 col-xs-6">
							<i class="fa fa-bank"></i>
							<h3 class="timer">7</h3>
							<p>Company Satisfied</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>