<section id="home" full-height data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
	<div class="intro">
		<div class="intro-sub">Tommaso Previero</div>
		<h1>
			I am a<br><span typewrite initial-delay="100" blink-delay="500" blink-cursor="true" text="[
				'Software Engineer',
				'Full Stack Developer',
				'Jedi',
				'Web Developer',
				'Coder',
				'Knitting Lover',
				'Software Security Engineer.'
			]"></span>
		</h1>
		<!--<h1>Software <span>Engineer</span></h1>-->
		<p>I am an experienced full stack developer.
			<br> My background is in the banking and insurance environment.
			<br> If you want to build something very meaningful, robust and innovative...
			<br> I'm probably the one you're looking for!

			<div class="social-icons">
				<ul class="list-inline">
					<!--<li><a target="_blank" href="https://www.facebook.com/tommaso.previero"><i class="fa fa-facebook"></i></a></li>-->
					<!--<li><a target="_blank" href="https://twitter.com/DosLosTomatos"><i class="fa fa-twitter"></i></a></li>-->
					<li><a target="_blank" href="https://www.linkedin.com/in/tommaso-previero" analytics-on="click" analytics-event="linkedin" analytics-category="navigation"><i class="fa fa-linkedin"></i></a></li>
					<!--<li><a target="_blank" href="https://github.com/eltomato"><i class="fa fa-github"></i></a></li>-->
					<!--<li><a target="_blank" href="http://stackoverflow.com/users/5773630/el-tomato"><i class="fa fa-stack-overflow"></i></a></li>-->
				</ul>
			</div>
	</div>

	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>
</section>