<header class="header" sticky>
	<nav class="navbar navbar-custom" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a click-scroll class="navbar-brand" href="#home">
					<h1>
						<i class="fa fa-home"></i>
						<div class="brand-name"><span class="color-alternative">&nbsp;Tommaso</span> <span class="color">Previero</span></div>
					</h1>
				</a>
				<!--<img src="images/logo.png" alt="">-->
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a click-scroll href="#home">Home</a></li>-->
					<li><a click-scroll href="#about">About</a></li>
					<li><a click-scroll href="#resume">Resume</a></li>
					<li><a click-scroll href="#skills">Skills</a></li>
					<li><a click-scroll href="#references">References</a></li>
					<li><a click-scroll href="#services">In a nutshell</a></li>
					<li><a click-scroll href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>