<section id="references" ng-controller="ReferencesController" class="works-section section-padding">
	<div class="container" shuffle>
		<h2 class="section-title wow fadeInUp">Scripta Manent</h2>
		
		<div uib-carousel active="active" interval="5000" style="min-height:300px">
			<div uib-slide ng-repeat="reference in references" index="$index">
				<blockquote style="border-left: none;">
					<i class="fa fa-quote-left color" style="font-size: 45px; position: relative; float: left;"></i>
					<br>
					<p ng-bind-html="reference.quote"></p>
					<br>
					<footer>{{reference.author}}</footer>
					<i class="fa fa-quote-right color"  style="font-size: 45px; position: relative; float: right;"></i>
				</blockquote>
			</div>
			
			<!--<p>-->
			<!--	<blockquote style="border-left: none;">-->
			<!--	</blockquote>-->
			<!--</p>-->
		</div>

		<!--<ul class="list-inline" id="filter">-->
		<!--	<li><a shuffle-filter class="active" data-group="all">All</a></li>-->
		<!--	<li><a shuffle-filter data-group="design">Design</a></li>-->
		<!--	<li><a shuffle-filter data-group="web">Web</a></li>-->
		<!--	<li><a shuffle-filter data-group="interface">Interface</a></li>-->
		<!--	<li><a shuffle-filter data-group="identety">Identity</a></li>-->
		<!--</ul>-->

		<!--<div class="row">-->
		<!--	<div id="grid" shuffle-grid>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "interface"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-1.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-1.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->


		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "web"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-2.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-2.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "interface"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-3.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-3.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-4.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-4.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-5.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-5.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "design"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-6.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-6.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "identety", "web"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-7.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-7.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "design"]'>-->
		<!--			<div class="portfolio-bg">-->
		<!--				<div class="portfolio">-->
		<!--					<div class="tt-overlay"></div>-->
		<!--					<div class="links">-->
		<!--						<a class="image-link" popup-image href="images/works/portfolio-8.jpg"><i class="fa fa-search-plus"></i></a>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					</div>-->
		<!--					<img src="images/works/portfolio-8.jpg" alt="image">-->
		<!--					<div class="portfolio-info">-->
		<!--						<h3>Portfolio Title</h3>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
	</div>
</section>