<section id="services" class="blog-section section-padding">
	<div class="container">
		<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Long story short</h2>
		<div class="row service-wrap">
			<div class="col-sm-6 col-md-3">
				<div class="service-box">
					<i class="fa fa-line-chart"></i>
					<h3>Analisys &amp; Planning</h3>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box">
					<i class="fa fa-cubes"></i>
					<h3>Implementation &amp; Know how</h3>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box">
					<i class="fa fa-shield"></i>
					<h3>Testing &amp; Refactoring</h3>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box">
					<i class="fa fa-life-ring"></i>
					<h3>Maintenance &amp; consulting</h3>
				</div>
			</div>
		</div>
		<div class="row service-wrap">
		</div>
	</div>
</section>