<section id="skills" class="skills-section section-padding">
	<div class="container">
		<h2 class="section-title wow fadeInUp">Skills</h2>

		<div class="skill-chart text-center">
			<h3>Operating Systems</h3>
		</div>
		<div class="row more-skill" inview-more-skill>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Windows</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
							<!--<span>95%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>OS X</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<!--<span>80%</span>-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Linux</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
							<!--<span>95%</span>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="skill-chart text-center">
			<h3>Programming Languages</h3>
		</div>
		<div class="row more-skill" inview-more-skill>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Java</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
							<!--<span>95%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>C#</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<!--<span>70%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>PHP</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
							<!--<span>80%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Python</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<!--<span>70%</span>-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Javascript</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
							<!--<span>95%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>C/C++</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<!--<span>70%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Assembler</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							<!--<span>60%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>ML</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							<!--<span>60%</span>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="skill-chart text-center">
			<h3>Other Languages</h3>
		</div>
		<div class="row more-skill" inview-more-skill>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>SQL</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<!--<span>90%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>JSON</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<!--<span>100%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>HTML</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
							<!--<span>98%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>CSS</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
							<!--<span>98%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>LATEX</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
							<!--<span>85%</span>-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>XML</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
							<!--<span>95%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Groovy</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<!--<span>90%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>HTML5</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
							<!--<span>90%</span>-->
						</div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>CSS3</h3></div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
							<!--<span>85%</span>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="skill-chart text-center">
			<h3>Tools, Framework and Technologies</h3>
		</div>
		<div class="row more-skill" inview-more-skill>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>AngularJS</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"><!--<span>98%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Jasmine</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>JSP</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>PrimeFaces</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>FitNesse</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><!--<span>90%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Jenkins</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"><!--<span>98%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Jira</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><!--<span>90%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Confluence</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><!--<span>90%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Liferay</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Bootstrap</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><!--<span>90%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>JQuery</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Node.js</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><!--<span>60%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Apache CouchDB</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><!--<span>40%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Spring</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Splunk</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Maven</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><!--<span>90%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Apache Ant</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><!--<span>40%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>WebLogic</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><!--<span>70%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Tomcat</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>WebSphere</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><!--<span>70%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Jetty</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>iBatis</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>75%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>MyBatis</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Hibernate</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>MatLab</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><!--<span>60%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>GNU Octave</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><!--<span>60%</span>--></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Karma</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Protractor</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><!--<span>85%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>JSF</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Selenium</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Oracle Database</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>MySQL</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>SQL Server</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><!--<span>40%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>PostgreSQL</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>65%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>DB2</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><!--<span>65%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>ASP.NET</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><!--<span>40%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>PhoneGap</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><!--<span>70%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Android SDK</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><!--<span>65%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Dojo</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>75%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>CVS</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>SVN</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Git</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>75%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>JasperReport</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>75%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>iText</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><!--<span>75%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Docuwiki</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><!--<span>70%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Eclipse</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>NetBeans</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Oracle SQL Developer</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Outlook</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Microsoft Excel</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><!--<span>95%</span>--></div>
					</div>
				</div>
				<div class="skill-progress" inview-skill-progress>
					<div class="skill-title">
						<h3>Microsoft PowerPoint</h3>
					</div>
					<div class="progress">
						<div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><!--<span>80%</span>--></div>
					</div>
				</div>
			</div>
		</div>

		<div class="skill-chart text-center">
			<h3>Some "Soft skills"</h3>
		</div>
		<div class="row more-skill text-center">
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="100" data-color="3498db">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Curiosity</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="93" data-color="e74c3c">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Problem Solving</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="90" data-color="2ecc71">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Teamwork</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="95" data-color="3498db">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Critical Thinking</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="85" data-color="3498db">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Listening</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2">
				<div class="chart" data-percent="98" data-color="3498db">
					<span class="percent"></span>
					<div class="chart-text">
						<span>Flexibility</span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->
</section>